@{
  ViewData["title"] = "Persons Index";
  List<PersonResponse> persons = (List<PersonResponse>?)ViewData["persons"] ?? new List<PersonResponse>();
  Dictionary<string,string> SearchFields = (Dictionary<string,string>?)ViewData["SearchFields"] ?? new Dictionary<string,string>();
  string? searchBy = (string?)ViewData["CurrentSearchBy"];
  string? searchString = (string?)ViewData["CurrentSearchString"];
  Enum.TryParse(ViewData["CurrentSortBy"]?.ToString(), out SortOrderEnum sortOrder);
  SortOrderEnum oppositeOrder = (sortOrder == SortOrderEnum.Ascending) ? SortOrderEnum.Descending : SortOrderEnum.Ascending;
}

<h1>Persons index page</h1>

<!-- Form -->
<form action="~/persons/index" method="get">

  <!-- Search Pane on top -->
  <div class="box flex">
    <!-- Filter to search on -->
    <div class="flex-1">
      <select class="form-input" name="searchBy">
        @foreach(var field in SearchFields) {
          @if(searchBy == field.Key){
            <option selected value="@field.Key">@field.Value</option>
          }
          else {
            <option value="@field.Key">@field.Value</option>
          }
        }
      </select>
    </div>

    <!-- Text to search for -->
    <div class="flex-1">
      @if(!string.IsNullOrEmpty(searchString)){
        <input value="@(searchString)" type="search" id="search" class="form-input" name="searchString">
      }
      else {
        <input placeholder="SearchString" type="search" id="search" class="form-input" name="searchString">
      }
    </div>

    <!-- Search and clear buttons -->
    <div class="flex-1">
      <button class="button button-blue-back" placeholder="something">Search</button>
      <a href="~/persons/index" class="link-hover">Clear All</a>
    </div>
  </div>

  <!-- Table -->
  <table class="table w-100 mt">
    <thead>
      <tr>
        <th>
          <a href="~/persons/index?searchBy=@(searchBy)&SearchString=@(searchString)&SortBy=@(nameof(PersonResponse.PersonName))&SortOrder=@(oppositeOrder.ToString())">Person Name</a>
        </th>
        <th>Email</th>
        <th>Date of Birth</th>
        <th>Age</th>
        <th>Gender</th>
      </tr>
    </thead>
    <tbody>
      @foreach(PersonResponse person in persons){
        <tr>
          <td>@person.PersonName</td>
          <td>@person.Email</td>
          <td>@person.DateOfBirth?.ToString("dd MMM yyyy")</td>
          <td>@person.Age</td>
          <td>@person.PersonGender</td>
        </tr>
      }
    </tbody>

  </table>

</form>
