@{
  ViewData["title"] = "Persons Index";
  List<PersonResponse> persons = (List<PersonResponse>?)ViewData["persons"] ?? new List<PersonResponse>();
  Dictionary<string,string> SearchFields = (Dictionary<string,string>?)ViewData["SearchFields"] ?? new Dictionary<string,string>();
  string? sortBy = (string?)ViewData["CurrentSortBy"];
  string? searchBy = (string?)ViewData["CurrentSearchBy"];
  string? searchString = (string?)ViewData["CurrentSearchString"];
  Enum.TryParse(ViewData["CurrentSortOrder"]?.ToString(), out SortOrderEnum sortOrder);
}

<h1>Persons index page</h1>

<!-- Form -->
<form action="~/persons/index" method="get">

  <!-- Search Pane on top -->
  <div class="box flex">
    <!-- Filter to search on -->
    <div class="flex-1">
      <select class="form-input" name="searchBy">
        @foreach(var field in SearchFields) {
          @if(searchBy == field.Key){
            <option selected value="@field.Key">@field.Value</option>
          }
          else {
            <option value="@field.Key">@field.Value</option>
          }
        }
      </select>
    </div>

    <!-- Text to search for -->
    <div class="flex-1">
      @if(!string.IsNullOrEmpty(searchString)){
        <input value="@(searchString)" type="search" id="search" class="form-input" name="searchString">
      }
      else {
        <input placeholder="SearchString" type="search" id="search" class="form-input" name="searchString">
      }
    </div>

    <!-- Search and clear buttons -->
    <div class="flex-1">
      <button class="button button-blue-back" placeholder="something">Search</button>
      <a href="~/persons/index" class="link-hover">Clear All</a>
    </div>
  </div>

  <!-- Table -->
  <table class="table w-100 mt">
    <thead>
      <tr>
        <th>
          <a href="~/persons/index?searchBy=@(searchBy)&SearchString=@(searchString)&sortBy=@(nameof(PersonResponse.PersonName))&sortOrder=@(sortOrder == SortOrderEnum.Ascending ? "Descending" : "Ascending")">Person Name</a>
          @if(sortBy == nameof(PersonResponse.PersonName)) {
            <i class="fa-solid @(sortOrder == SortOrderEnum.Ascending ? "fa-arrow-up" : "fa-arrow-down") "></i>
          }
        </th>
        <th>
          <a href="~/persons/index?searchBy=@(searchBy)&SearchString=@(searchString)&sortBy=@(nameof(PersonResponse.Email))&sortOrder=@(sortOrder == SortOrderEnum.Ascending ? "Descending" : "Ascending")">Email</a>
          @if(sortBy == nameof(PersonResponse.Email)) {
            <i class="fa-solid @(sortOrder == SortOrderEnum.Ascending ? "fa-arrow-up" : "fa-arrow-down") "></i>
          }
        </th>
        <th>
          <a href="~/persons/index?searchBy=@(searchBy)&SearchString=@(searchString)&sortBy=@(nameof(PersonResponse.DateOfBirth))&sortOrder=@(sortOrder == SortOrderEnum.Ascending ? "Descending" : "Ascending")">Date of Birth</a>
          @if(sortBy == nameof(PersonResponse.DateOfBirth)) {
            <i class="fa-solid @(sortOrder == SortOrderEnum.Ascending ? "fa-arrow-up" : "fa-arrow-down") "></i>
          }
        </th>
        <th>
          <a href="~/persons/index?searchBy=@(searchBy)&SearchString=@(searchString)&sortBy=@(nameof(PersonResponse.Age))&sortOrder=@(sortOrder == SortOrderEnum.Ascending ? "Descending" : "Ascending")">Age</a>
          @if(sortBy == nameof(PersonResponse.Age)) {
            <i class="fa-solid @(sortOrder == SortOrderEnum.Ascending ? "fa-arrow-up" : "fa-arrow-down") "></i>
          }
        </th>
        <th>
          <a href="~/persons/index?searchBy=@(searchBy)&SearchString=@(searchString)&sortBy=@(nameof(PersonResponse.PersonGender))&sortOrder=@(sortOrder == SortOrderEnum.Ascending ? "Descending" : "Ascending")">Gender</a>
          @if(sortBy == nameof(PersonResponse.PersonGender)) {
            <i class="fa-solid @(sortOrder == SortOrderEnum.Ascending ? "fa-arrow-up" : "fa-arrow-down") "></i>
          }
        </th>
      </tr>
    </thead>
    <tbody>
      @foreach(PersonResponse person in persons){
        <tr>
          <td>@person.PersonName</td>
          <td>@person.Email</td>
          <td>@person.DateOfBirth?.ToString("dd MMM yyyy")</td>
          <td>@person.Age</td>
          <td>@person.PersonGender</td>
        </tr>
      }
    </tbody>

  </table>

</form>
