@{
  string appTitle = "Asp.Net Core Demo App";
  string paragraphContents = "I am just the paragraph contents";
  Person person = new(){Name="Tresten", Dob=(new DateTime(1999,1,29)),PersonGender=Gender.Male};
}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>@appTitle</title>
</head>

<body>

  <p>@paragraphContents</p>

  <ul>
    <li>@person.Name</li>

    @if( person.Dob.HasValue ){
      <li>@(person.Dob.Value.ToLongDateString())</li>
      <li>@( Math.Floor((DateTime.Today - person.Dob.Value).TotalDays / 365) ) years old</li>
    }else {
      <li>No DOB was supplied</li>
    }

    @switch(person.PersonGender){
      case Gender.Male: 
        <li>it is a male</li>
        break;

      case Gender.Female:
        <li>it is a female</li>
        break;

      default:
        <li>Unknown</li>
        break;
    }


  </ul>

</body>

</html>