@model IEnumerable<string>

@{
  Guid guid1 = (Guid?)ViewData["guid1"] ?? Guid.Empty;
  Guid guid2 = (Guid?)ViewData["guid2"] ?? Guid.Empty;
  Guid guid3 = (Guid?)ViewData["guid3"] ?? Guid.Empty;
  Guid guid4 = (Guid?)ViewData["guid4"] ?? Guid.Empty;
  ViewData["title"] = "Home";
}

<h1>Hello other world</h1>

<ul class="list">
  @foreach(string city in Model) {
    <li>@(city)</li>
  }
</ul>


<h3>Guids</h3>
<p>@(guid1)</p>
<p>@(guid2)</p>
<p>@(guid3)</p>
<p>@(guid4)</p>